[Unit]
Description=Setup macvlan network interface
After=network.target
Wants=network.target

[Service] 
Type=simple
ExecStart=/bin/sh /etc/macvlan.sh 

[Install] 
WantedBy=multi-user.target